@import "tailwindcss";

@layer base {
  body {
    @apply m-0 min-h-screen bg-white text-gray-900;
  }
}

@layer utilities {
  .section-padding {
    @apply px-6 py-16 md:px-12 lg:px-24;
  }

  .animate-wave {
    animation: wave 2s ease-in-out infinite;
    transform-origin: 70% 70%;
    display: inline-block;
  }
}

@keyframes wave {
  0%,
  100% {
    transform: rotate(0deg);
  }
  10%,
  30% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
}

@keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
.animate-slide {
  animation: scroll 15s linear infinite;
}
