@import "tailwindcss";

/* :root {
  --primary-dark-bg-color: #1f2937;
  --primary-dark-text-color: #e5e7eb;
  --primary-light-bg-color: #f3f4f6;
  --primary-light-text-color: #111827;
  --secondary-dark-bg-color: #374151;
  --secondary-light-bg-color: #dddddd;
} */

/* .dark {
  --primary-dark-bg-color: rgb(15 23 42);
}
.light {
  --primary-light-bg-color: rgb(255 255 255);
} */

/* .light {
  --primary-bg-color: var(--primary-light-bg-color);
  --primary-text-color: var(--primary-light-text-color);
  --secondary-bg-color: var(--secondary-light-bg-color);
} */

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  body {
    @apply m-0 min-h-screen bg-white text-gray-900 dark:bg-gray-900 dark:text-gray-100 transition-colors duration-300;
  }
}

@layer utilities {
  .section-padding {
    @apply px-6 py-16 md:px-12 lg:px-24;
  }

  .animate-wave {
    animation: wave 2s ease-in-out infinite;
    transform-origin: 70% 70%;
    display: inline-block;
  }
}

@keyframes wave {
  0%,
  100% {
    transform: rotate(0deg);
  }
  10%,
  30% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
}

@keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
.animate-slide {
  animation: scroll 15s linear infinite;
}
